
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'poppin', sans-serif;
    list-style: none;
    text-decoration: none;

}
header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    background-color: white;

}
.logo img{
    max-width: 150px;
    height: auto;
}
.nav-list{
    display: flex;
}
.nav-list a{
    color: black;
    font-size: 16px;
    text-transform: capitalize;
    padding: 10px 20px;
    font-weight: 400;
    transition: all .42s ease;
}
.nav-list a:hover{
    color: coral;
}
.nav-icon{
    display: flex;
    align-items: center;
}
.nav-icon i{
    margin-right: 20px;
    color: black;
    font-size: 25px;
    font-weight: 400;
    transition: all .42s ease;
}
.nav-icon i:hover{
    color: coral;
    transform: scale(1.1);
}
#menu-icon{
    font-size: 35px;
    color: black;
    z-index: 10001;
    cursor:pointer;
}

section{
    padding: 5% 10%;
}
.main-home{
    width: 100%;
    height: 100vh;
    background-image:url(./new-s1_b9ecc0a5-4779-4351-86ac-7947dd6afc81.webp);
    
    background-position:center;
    background-size: cover;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    align-items: center;
}

.main-text h1{
    font-size: 2.5rem;
    font-weight: 700;
   
    margin: 60px 0 10px;
    color: white;
    span{
        color: coral;
    }
}
.main-text p{
    color: #d8d8d8;
    font-size: 20px;
    font-style: italic;
    margin-bottom: 20px;
}
.main-btn{
    display: inline-block;
    color: white;
    font-size: 16px;
    font-weight: 600;
    text-transform:capitalize;
    outline: none;
    border: none;
    padding: 12px 25px;
    transition: all .42s ease;
    background-color: coral;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.main-btn:hover{
    background-color: #ff6347;
    color: #fff;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.main-btn i{
    vertical-align: middle;
}
.down-arrow{
    position: absolute;
    top: 85%;
    right: 11%;
}
.down i{
    font-size: 30px;
    color: coral;
    border: 2px solid coral;
    border-radius: 50%;
    padding: 10px 10px;
}
.down i:hover{
    background-color: #ff6347;
    color: #fff;
    transition: all .42s ease;
}

header.sticky{
    background-color: white;
    padding: 20px 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.products {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,auto)); 
    gap:2rem; 
    
  }
  .products .row {
    position: relative;
    transition: all .40s ;
  
    grid-column: span 1; 
  }
  .row img{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    width: 100%;
    max-width: 300px;
    border-radius: 8px;
}
.row img:hover{
    transform: scale(0.9);
}

.center-text{
    text-align: center;
    margin: 40px;
    
}
.center-text h3 {
    font-size: 35px;
    font-weight: bold;
  
    
}
.center-text p {
    color: #7f8c8d;
    font-size: 1em;
    
}

.star {
    display: flex;
    justify-content: center;
    margin: 10px 0;
}
.star i {
    color: #ffd700;
    margin: 0 2px;
}

.price {
    text-align: center;
}

.price h5 {
    font-size: 1.2em;
    margin: 5px 0;
}

.price h4 {
    font-size: 1.5em;
    margin: 5px 0;
    color: #333;
}

.Buy-btn {
    padding: 10px 20px;
    background-color: coral;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}
.client-reviews{
    background-color: #f3f4f6;

}
.reviews{
    text-align: center;

}
.reviews h3{
    color: #111;
    font-size: 25px;
    text-transform: capitalize;
    text-align: center;
    font-weight: 700;

}
.reviews img{
    width: 100px;
    height: auto;
    border-radius: 50%;
    margin: 10px 0;
}
.reviews p{
    color: #070707;
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    margin-bottom: 10px;
}
.reviews h2{
    font-size: 22px;
    color: #000;
    font-weight: 400;
    text-transform: capitalize;
    margin-bottom: 2px;
}

.footer{
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(33, 33, 33);
    font-family: Arial, Helvetica, sans-serif;
    color: lightslategray;
    
    
}
.part1{
    width: 25%;
    margin-top: -25px;
    margin-left: 10px;
    h2{
        font-size:26px ;
        font-style: bold  
    }
    p{
        padding-bottom: 10px;
    }
}


.copyright .col-lg-3:nth-child(3) a i {
    color: #fff;
    margin-right: 10px;
}

.copyright .col-lg-3:nth-child(3) a i.fa-facebook {
    margin-left: 20px;
}

.copyright .col-lg-3:nth-child(3) a i:hover {
    color: #007bff;
}

footer .copyright img {
    width: 30%;
    height: 60%;
}

.small-img-group {
    display: flex;
    justify-content: space-between;
}

.small-img-col {
    flex-basis: 24%;
    cursor: pointer;
}
.part3{
    width: 25%;
    margin-top: -20px;
    margin-left: 50px;
    h2{
        font-size:26px ;
        font-style: bold  
    }
    p{
        margin-left: 10px;
        padding-bottom: 10px;
    } 
}
.part4{
    width: 25%;
    margin: 5px;
    h2{
        font-size:26px ;
        font-style: bold  
    }
    p{
        margin-left: 15px;
        padding-bottom: 10px;
    } 
}

@media (max-width:830px) {
    header{
        padding: 20px 3%;
        transition: .4s;
    }
    
}
@media (max-width:630px){
    .main-text h1{
        font-size: 50px;
        transition: .4s;

    }
    .main-text p{
        font-size: 18px;
        transition: .4s;

    }
    .main-btn{
        padding: 10px 20px;
        transition: .4s;
    }


}
@media (max-width:750px){
    .nav-list{
        position: absolute;
        top: 100%;
        right:-100%;
        width: 300px;
        height: 130vh;
        background-color: #d8d8d8;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 120px 30px ;
        transition: all .42s;
    }
    .nav-list a{
        display: block;
        margin: 10px 0;
    }
    .nav-list.open{
        right: 0;
        
    }
}